@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Libre+Caslon+Display&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
    --font-serif: "Libre Caslon Display", serif;
    --font-sans: "Work Sans", sans-serif;
}

.body {
    background-color: #e8e4dc;
}
